.title {
    text-align: center;
}

#container{
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    width: 500px ;
    height: 500px;
}

#box{
    background-color: black;
}

#box.hovered {  
    background-color: white;
}
