.title {
    text-align: center;
}

.button {
    margin: auto;
    width: 10%;
    position: relative;
}




#navbar {
    display:flex;
    height: 50px;
    width: 500px;
    margin: auto;
}

#container{
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    width: 500px ;
    height: 500px;
}

.box{
    background-color: black;
}

.hovered {  
    background-color: white;
}
